{% extends "cab/baseCab.html" %}
{% load i18n %}
{% load staticfiles %}

{% block myCss %}
    <link href="{% static 'cab/js/datatables/jquery.dataTables.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'cab/js/datatables/buttons.bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'cab/js/datatables/fixedHeader.bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'cab/js/datatables/responsive.bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'cab/js/datatables/scroller.bootstrap.min.css'%}" rel="stylesheet" type="text/css" />

    <!--FANCYBOX-->
    <link rel="stylesheet" type="text/css" href="{% static 'cab/css/fancybox/jquery.fancybox.css'%}" media="screen" />

    <!-- Add Button helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="{% static 'cab/js/fancybox/helpers/jquery.fancybox-buttons.css'%}" />

    <!-- Add Thumbnail helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="{% static 'cab/js/fancybox/helpers/jquery.fancybox-thumbs.css'%}" />
    <!--END FANCYBOX -->

{% endblock %}



{% block content %}


<div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>Товары <small>Список товаров имеющихся на сайте</small></h3>
            </div>

          </div>
          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Товары</h2>
                  <a href="{% url 'cab.tovars.addToCart' %}" class="btn btn-success" type="button" name="addToCart" style="margin-left:2%;">Добавить</a>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">


                  <!-- start project list -->
                  <table id="datatable-tovars" class="table table-striped table-bordered projects">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Краткое описание</th>
                        <th>Категория (доп. категория)</th>
                        <th>Артикль</th>
                        <th>Цена</th>
                        <th>Наличие</th>
                        <th>Статус</th>
                        <th>Фотографии</th>
                        <th>Действия</th>
                      </tr>
                    </thead>
                    <tbody>

                    {% for i in tovars %}
                      <tr>
                        <td>{{i.id}}</td><!--ID-->
                        <td><!--Название-->
                          <a><span id="name-{{i.id}}">{{i.name}}</span></a>
                          <br />
                          <small>Создана {{i.date}}</small>
                        </td>

                        <td><!--Описание-->
                            <a>{{i.inform|slice:"100"}}</a>
                        </td>
                        <td class="project_progress"><!--Категория-->
                          <!--<div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                          </div>-->
                          <a>
                            <small>{{i.cat.mainCat.name}} / {{i.cat.name}}</small></br>
                            {% if i.recomend %}
                              <small>(Рекомендуемые товары)</small></br>
                            {% endif %}
                            {% if i.new %}
                              <small>(Новинки)</small></br>
                            {% endif %}
                          </a>
                        </td>
                        <td><!--Артикль-->
                          <a><span>{{i.article}}</span></a>
                        </td>
                          <td><!--Цена-->
                              <p><a>{{i.cena}} <i class="fa fa-rub"></i></a></p>
                          </td>
                        <td><!--Наличие-->
                          {% if i.kol <= 0 %}
                          <a><p>Нет в наличии</p></a>
                          {% else %}
                          <a><p>В наличии ({{i.kol}})</p></a>
                          {% endif %}
                        </td>
                        <td><!--Статус-->
                          {% if i.status %}
                            <button type="button" class="btn btn-success btn-xs status" data-status="true" data-id="{{i.id}}">Опубликовано</button>
                          {% else %}
                            <button type="button" class="btn btn-danger btn-xs status" data-status="false" data-id="{{i.id}}">Не опубликовано</button>
                          {% endif %}
                        </td>
                        <td><!--Фотографии-->
                            <ul class="list-inline">
                              <li>
                                <a class="fancyimage" data-fancybox-group="{{i.id}}" href="{% static 'tovar/tovar.jpg'%}"> 
                                  <img class="img-responsive avatar" alt="Avatar" src="{% static 'tovar/tovar.jpg'%}" /> 
                                </a> 
                              </li>
                              <li>
                                <a class="fancyimage" data-fancybox-group="{{i.id}}" href="{% static 'tovar/tovar.jpg'%}"> 
                                  <img class="img-responsive avatar" alt="Avatar" src="{% static 'tovar/tovar.jpg'%}" /> 
                                </a> 
                              </li>
                              <li>
                                <a class="fancyimage" data-fancybox-group="{{i.id}}" href="{% static 'tovar/tovar.jpg'%}"> 
                                  <img class="img-responsive avatar" alt="Avatar" src="{% static 'tovar/tovar.jpg'%}" /> 
                                </a> 
                              </li>
                              <li>
                                <a class="fancyimage" data-fancybox-group="{{i.id}}" href="{% static 'tovar/tovar.jpg'%}"> 
                                  <img class="img-responsive avatar" alt="Avatar" src="{% static 'tovar/tovar.jpg'%}" /> 
                                </a> 
                              </li>
                            </ul>
                        </td>
                        <td><!--Действия-->
                          <button class="btn btn-info btn-xs edit" type="button" data-id="{{i.id}}">
                              <i class="fa fa-pencil"></i> Изменить
                          </button>
                          <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Удалить </button>
                        </td>

                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                  <!-- end project list -->

                </div>
              </div>
            </div>
          </div>
        </div>


<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="statusModalLabel"></h4>
      </div>
      <div class="modal-body">
        <h4></h4>
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary submit">Да!</button>
      </div>

    </div>
  </div>
</div>

{% endblock %}



{% block myScripts%}

    <script src="{% static 'cab/js/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'cab/js/datatables/dataTables.bootstrap.js'%}"></script>
    <script src="{% static 'cab/js/datatables/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'cab/js/datatables/buttons.bootstrap.min.js'%}"></script>
    <script src="{% static 'cab/js/datatables/jszip.min.js'%}"></script>
    <script src="{% static 'cab/js/datatables/pdfmake.min.js'%}"></script>
    <script src="{% static 'cab/js/datatables/vfs_fonts.js'%}"></script>
    <script src="{% static 'cab/js/datatables/buttons.html5.min.js'%}"></script>
    <script src="{% static 'cab/js/datatables/buttons.print.min.js'%}"></script>
    <script src="{% static 'cab/js/datatables/dataTables.fixedHeader.min.js'%}"></script>
    <script src="{% static 'cab/js/datatables/dataTables.keyTable.min.js'%}"></script>
    <script src="{% static 'cab/js/datatables/dataTables.responsive.min.js'%}"></script>
    <script src="{% static 'cab/js/datatables/responsive.bootstrap.min.js'%}"></script>
    <script src="{% static 'cab/js/datatables/dataTables.scroller.min.js'%}"></script>


    <!--FANCYBOX-->
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="{% static 'cab/js/fancybox/jquery.mousewheel-3.0.6.pack.js'%}"></script>
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="{% static 'cab/js/fancybox/jquery.fancybox.js'%}"></script>
    <script type="text/javascript" src="{% static 'cab/js/fancybox/helpers/jquery.fancybox-buttons.js'%}"></script>
    <script type="text/javascript" src="{% static 'cab/js/fancybox/helpers/jquery.fancybox-thumbs.js'%}"></script>
    <!-- Add Media helper (this is optional) -->
    <script type="text/javascript" src="{% static 'cab/js/fancybox/helpers/jquery.fancybox-media.js'%}"></script>
    <!--END FANCYBOX-->


<script>
  var handleDataTableButtons = function() {
      "use strict";
      0 !== $("#datatable-tovars").length && $("#datatable-tovars").DataTable({
        "processing": true, //При подгрузке страницы показывать таблицу или нет
        "serverSide": false, // фильтрация на стороне сервера
        "oLanguage": {
             "sProcessing":   "Подождите...",
             "sLengthMenu":   "_MENU_ записей на странице",
             "sZeroRecords":  "Записи отсутствуют.",
             "sInfo":         "Записи с _START_ до _END_ из _TOTAL_ записей",
             "sInfoEmpty":    "Записи с 0 до 0 из 0 записей",
             "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
             "sInfoPostFix":  "",
             "sSearch":       "Поиск: ",
             "sUrl":          "",
             "oPaginate": {
             "sFirst": "Первая",
             "sPrevious": "Предыдущая",
             "sNext": "Следующая",
             "sLast": "Последняя"
             }
        },
        "iDisplayLength": 50,

        dom: "Bfrtip",
        buttons: [{
          extend: "csv",
          className: "btn-sm"
        }, {
          extend: "excel",
          className: "btn-sm"
        }, {
          extend: "pdf",
          className: "btn-sm"
        }, {
          extend: "print",
          className: "btn-sm"
        }],
        responsive: !0
      })
    },
    TableManageButtons = function() {
      "use strict";
      return {
        init: function() {
          handleDataTableButtons()
        }
      }
    }();
    TableManageButtons.init();

    //Модальные окна

    $('button.status').click(function() {
      if( $(this).attr('data-status') == "false" ){
        $('#statusModalLabel').text("Опубликовать '" + $('#name-' + $(this).attr('data-id')).text() + "' ?");
        $('#statusModal .modal-body h4').text("Вы действительно хотите опубликовать товар '" + $('#name-' + $(this).attr('data-id')).text() + "' ?");
        $('#statusModal .modal-body p').text("После публикации товара '" + $('#name-' + $(this).attr('data-id')).text() + "' он станет доступен на сайте. Вы уверены?");
      }
      else{
        $('#statusModalLabel').text("Снять с публикации " + $('#name-' + $(this).attr('data-id')).text() + '?');
        $('#statusModal .modal-body h4').text("Вы действительно хотите снять с публикации товар '" + $('#name-' + $(this).attr('data-id')).text() + "' ?");
        $('#statusModal .modal-body p').text("После снятия товара '" + $('#name-' + $(this).attr('data-id')).text() + "' с публикации, он перестанет быть доступен на сайте. Вы уверены?");
      }

      if( $('#statusModal button.submit').hasClass('editBtn') )
        $('#statusModal button.submit').removeClass('editBtn');

      if( !$('#statusModal button.submit').hasClass('statusBtn') )
        $('#statusModal button.submit').addClass('statusBtn');

      $('#statusModal button.submit').attr('data-id', $(this).attr('data-id'));

      $('#statusModal').modal('show');
    });


    //изменить
    $('button.edit').click(function() {
      $('#statusModal').modal('show');
    });



    //опубликовать категорию
    $('#statusModal').on('click', 'button.statusBtn', function() {
        var _this = $('#statusModal button.submit').attr('data-id');
        $.ajax({
            url: "{% url 'cab.tovars.statusAjax' %}",
            type: 'POST',
            data: {
                id: _this,
            },
            success: function(data){
                //alert("Успех");
                if( $('button.status[data-id='+_this+']').attr('data-status') == "false" )
                    $('button.status[data-id='+_this+']').attr('data-status', 'true').removeClass('btn-danger').addClass('btn-success').text("Опубликовано");
                else
                  $('button.status[data-id='+_this+']').attr('data-status', 'false').removeClass('btn-success').addClass('btn-danger').text("Не опубликовано");
            },
            error: function(data) {
                alert("Ошибка смены статуса! Обратитесь к администартору ресурса!");
            },
        // CSRF механизм защиты Django
            beforeSend: function(xhr, settings) {
                console.log('-------------before send--');
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });// ajax

        $('#statusModal').modal('hide');

    });

  
    $(document).ready(function() {
    //FANCYBOX ИНИЦИАЛИЗАЦИЯ
      $("a.fancyimage").fancybox(); 
    });
</script>
{% endblock %}