{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
<header>
	<div class="container" style="padding:0px">
		<div class="row">
			<a href="/" class="logo">
			    <img src="{% static 'images/logo.png'%}" alt="" />
			 </a>
            <div class="home-banner-inner col-sm-3" style="padding:0px; margin-left:10px">
    			<form role="search" class="form-search" method="get" id="searchform" action="{% url 'search' %}">
            		<div class="input-group">
            			<input style="height:inherit;width:100%" type="text" class="form-control" placeholder="Enter a Search Item" value="" name="s" id="s">	
            			<span class="input-group-btn">
            				<button style="height:100%" type="submit" class="banner-btn btn-append"><i class="fa fa-search fa- "></i></button>
            			</span>
            			<input type="hidden" value="incsub_wiki" name="post_type" id="post_type">
            		</div>
            	</form>
        	</div>
			<ul id="menu-test" class="mainNav">
			    <li id="menu-item-7" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
    			    <a href="/">
    			        dashboard
    		        </a>
    	        </li>
                <li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                    <a href="/catalog">
                        EXPLORE
                    </a>
                </li>
                <li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                    <a href="/about">
                        About us
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                    <a href="/profile">
                        Profile / Items
                    </a>
                </li>
                <li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                    <a href="/logout">
                        logout
                    </a>
                </li>
                {% else %}
                <li id="menu-item-8" class="first-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-7">
                    <a href="/login">Join / Sign in</a>
                </li>
                {% endif %}
            </ul>
			<button id="showLeft"><i class="fa fa-bars open-nav"></i> <i class="fa fa-times close-nav"></i></button>
			<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left mobile" id="cbp-spmenu-s1">
				<h3>Menu</h3>
				<ul id="menu-test-1" class="mobileNav">
				    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
				        <a href="/">
				            dashboard
			            </a>
		            </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                        <a href="/catalog">
                            EXPLORE
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                        <a href="/about">
                            About us
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                        <a href="/profile">
                            Profile / Items
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                        <a href="/logout">
                            logout
                        </a>
                    </li>
                    {% else %}
                    <li class="first-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-7">
                        <a href="/login">Join / Sign in</a>
                    </li>
                    {% endif %}
                </ul>			
            </nav>
			
		</div>
	</div>
</header>
{% endblock %}


{% block content %}
    
    <div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content" style="width:70%; margin:0 auto">
          <form method="post" action="">
              {% csrf_token %}
              </br>
            <center> 
            {% if password %}
                <h2>Enter the new password</h2>
            {% elif key %}
                <h2>Enter the Key you got in your Email.</h2>
            {% else %}
                <h2>Request password reset for your BioBots Account</h2>
            {% endif %}
            </center>
             </br>
             {% if error %}
                 <h4 style="color:red">* This user does not exist Please type correct registered email</h4>
             {% endif %}
             {% if key %}
                 {% if errorKey %}
                    <h4 style="color:red">Incorrect key. Please try again</h4>
                 {% endif %}
             {% endif %}
             {% if passwordError %}
                 <h4 style="color:red">Passwords do not match. Repeat the</h4>
             {% endif %}
             {% if password %}
                 <div class="row">
                    <div class="col-sm-5" style="">
                        <label for="password" class="">New password</label>
                      <input style="height:40px" id="password1" type="password" class="form-control" placeholder="New password" maxlength="150" name="password" required="" />
                        <input type="hidden" name="userforgotKey" value="{{password.email}}"/>
                    </div>
                    <div class="col-sm-5" style="">
                        <label for="password2" class="">New password</label>
                      <input style="height:40px" id="password2" type="password" class="form-control" placeholder="Confirm your password" maxlength="150" name="password2" required="" />
                    </div>
                    <div class="col-sm-12" style="">
                        <label for="submit" class="">&emsp;</label>
                        <input name="submit" style="margin: 0px;height: 2em;line-height:1em;border-radius: 5px;width:100%" class="btn btn-default submit" type="submit" value="RESET YOUR PASSWORD"/>
                    </div>
                 </div> 
             {% elif key %}
                <div class="row">
                    <div class="col-sm-12" style="">
                        <label for="key" class="">Key</label>
                      <input style="height:40px" id="id_username" type="text" class="form-control" placeholder="Key" maxlength="150" name="Key" required="" />
                        <input type="hidden" name="user" data-id="{{key.forgotKey}}" id="{{key.email}}" value="{{key.email}}"/>
                    </div>
                    <div class="col-sm-12" style="">
                        <label for="submit" class="">&emsp;</label>
                        <input name="submit" style="margin: 0px;height: 2em;line-height:1em;border-radius: 5px;width:100%" class="btn btn-default submit" type="submit" value="RESET YOUR PASSWORD"/>
                    </div>
                </div> 
             {% else %}
                <div class="row">
                    <div class="col-sm-12" style="">
                        <label for="username" class="">Enter Your Email Address</label>
                      <input style="height:40px" id="id_username" type="text" class="form-control" placeholder="E-mail" maxlength="150" name="username" required="" />
                    </div>
                    <div class="col-sm-12" style="">
                        <label for="submit" class="">&emsp;</label>
                        <input name="submit" style="margin: 0px;height: 2em;line-height:1em;border-radius: 5px;width:100%" class="btn btn-default submit" type="submit" value="RESET YOUR PASSWORD"/>
                    </div>
                </div>
            {% endif %}
            <div class="clearfix"></div>
            <div class="separator">

              <div class="clearfix"></div>
              <br />

            </div>
          </form>
          <!-- form -->
        </section>
        <!-- content -->
      </div>

    </div>
  </div>    

{% endblock %}