
{% extends "base.html" %}
{% load staticfiles %}

{% block mycss %}
<link rel="stylesheet" href="{% static 'css/catalog.css'%}">
{% endblock %}

{% block header %}
<header>
	<div class="container" style="padding:0px">
		<div class="row">
			<a href="/" class="logo">
			    <img src="{% static 'images/logo.png'%}" alt="" />
			 </a>
            <div class="home-banner-inner col-sm-3" style="padding:0px; margin-left:10px">
    			<form role="search" class="form-search" method="get" id="searchform" action="{% url 'search' %}">
            		<div class="input-group">
            			<input style="height:inherit;width:100%" type="text" class="form-control" placeholder="Enter a Search Item" value="" name="s" id="s">	
            			<span class="input-group-btn">
            				<button style="height:100%" type="submit" class="banner-btn btn-append"><i class="fa fa-search fa- "></i></button>
            			</span>
            			<input type="hidden" value="incsub_wiki" name="post_type" id="post_type">
            		</div>
            	</form>
        	</div>
			<ul id="menu-test" class="mainNav">
			    <li id="menu-item-7" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
    			    <a href="{% url "staff:home" %}">
    			        Users
    		        </a>
    	        </li>
                <li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                    <a href="{% url "staff:item" %}">
                        Items
                    </a>
                </li>
                <li id="menu-item-8" class="first-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-7">
                    <a href="{% url "staff:categories" %}">
                        Categories
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                    <a href="/logout">
                        logout
                    </a>
                </li>
                {% else %}
                <li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                    <a href="/login">Join / Sign in</a>
                </li>
                {% endif %}
            </ul>
			<button id="showLeft"><i class="fa fa-bars open-nav"></i> <i class="fa fa-times close-nav"></i></button>
			<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left mobile" id="cbp-spmenu-s1">
				<h3>Menu</h3>
				<ul id="menu-test-1" class="mobileNav">
				    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
				        <a href="/">
				            dashboard
			            </a>
		            </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                        <a href="/catalog">
                            EXPLORE
                        </a>
                    </li>
                    <li class="first-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-7">
                        <a href="/about">
                            About us
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                        <a href="/profile">
                            Profile / Items
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                        <a href="/logout">
                            logout
                        </a>
                    </li>
                    {% else %}
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
                        <a href="/login">Join / Sign in</a>
                    </li>
                    {% endif %}
                </ul>			
            </nav>
			
		</div>
	</div>
</header>
{% endblock %}


{% block content %}
    <div class="container catalog">
        <div class="row item">
            <div class="col-sm-12">            
                <div class="row head">
                    <div class="col-sm-1 text-right" style="margin-left:3em">
                        <img class="img-circle" style="margin-top:5px;width:50; height:50" src="/{{item.user.avatar}}" alt="" />
                    </div>
                    <div class="col-sm-10 text-left">
                        <h2>{{item.name}}</h2>
                        <p>Published {{item.date_published}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8" style="padding:0 4em 4em 4em">
                        <img class="main_foto" style="border:1px solid #ccc; margin-top: 100px;" src="/{{item.main_foto.name}}" alt="" />
                        <div class="row" style="margin-top: 1em;overflow-y:hidden; overflow-x:auto">
                            {% for i in f %}
                            {% if forloop.counter == 1 %}
                                <div class="col-sm-2 min-images active foto-list">
                                    <img class="min-img-item active" src="/{{i}}" alt="" />
                                </div>
                            {% else %}
                                <div class="col-sm-2 min-images foto-list">
                                    <img class="min-img-item" src="/{{i}}" alt="" />
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                <div class="col-sm-4" style="margin-top: 104px;">
                </div>
                
            </div>
        </div>
            
                <div class="row menu">
                    <div class="col-sm-4 text-center details">
                        <i class="fa fa-info"></i>
                        <p>Item Details</p>
                    </div>
                    <div class="col-sm-4 text-center files">
                        <i class="fa fa-files-o"></i>
                        <p>Item Files</p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-info"></i>
                        <p>Item Comments</p>
                    </div>
               </br>
               </br>
               </br>
               </br>
                <div class="row bottom" style="margin-top:20px">
                    <div id="information" class="col-sm-8" style="">
                        <h2 style="color:#606060;border-bottom:0px solid #ccc"><i class="fa fa-book"></i> Summary</h2>
                        <p style=" solid #ccc">{{item.information}}</p>
                    </div>
                    <div id="files" class="col-sm-8" style="">
                        <ul class="list-unstyled files-list">
                        {% for i in files %}
                            {% if forloop.counter == 1 %}
                                <li>
                            {% else %}
                                <li style="border-top: 1px solid #ccc;">
                            {% endif %}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img style="width:50px" src="{% static 'images/file.png'%} " alt="" />
                                        </div>
                                        <div class="col-sm-6">
                                            <p style="line-height:1em">Name: {{i.name}} | 
                                            Published: {{i.date_published}}</br>
                                            Downloads: {{i.dowloads}} | 
                                            Size: {{i.size}} bytes</p>
                                        </div>
                                        <div class="col-sm-2">
                                            {% if user.is_authenticated %}
                                                <button style="display: inline-block;" data-href="/{{i.f.name}}" class="btn download login" type="button" data-id="{{i.id}}"><i class="fa fa-download"></i></button>
                                            {% else %}
                                                <button class="btn download" type="button" data-id="{{i.id}}"><i class="fa fa-download"></i></button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                        {% endfor %}
                        </ul>
                    </div>
                     <!--<div class="col-sm-4">
                        <h3 style="color:#606060;border-bottom:1px solid #ccc">Thing info</h3>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-area-chart"></i> {{item.views}} Views
                            </li>
                            <li>
                                <i class="fa fa-download"></i> <span class="allDownloadsFiles">{{item.download}}</span> Downloads
                            </li>
                        </ul>
                    </div>-->
               
                </div>
                </div>
            </div>
        </div>
    </div>



<script>
    $(function () {
        $('.min-images').click(function() {
            $('.main_foto').attr('src', $('> img', this).attr('src'));
            $('.min-images img').removeClass('active');
            $('> img', this).addClass('active');
        });
        
        
        $('#files').hide();
        $('.item .menu > div').click(function() {
            if($(this).hasClass('details')){
                $('#files').hide();
                $('#information').show();
            }
            else if ($(this).hasClass('files')){
                $('#information').hide();
                $('#files').show();
            }
        });
        
        
        $('.files-list .download').click(function() {
            {% if user.is_authenticated %}
                if ($(this).hasClass('login'))
                {
                    _url = $(this).attr('data-href');
                    $.ajax({
                      url: "{% url 'cab.addDownloadFile' %}",
                      type: 'POST',
                      data: {
                          id: $(this).attr('data-id'),
                      },
                      success: function(data){
                          window.open(_url);
                      },
                      error: function(data) {
                          alert('ERROR!');
                      },            
                      // CSRF механизм защиты Django
                        beforeSend: function(xhr, settings) {
                        console.log('-------------before send--');
                          function getCookie(name) {
                              var cookieValue = null;
                              if (document.cookie && document.cookie != '') {
                                        var cookies = document.cookie.split(';');
                                        for (var i = 0; i < cookies.length; i++) {
                                            var cookie = jQuery.trim(cookies[i]);
                                            // Does this cookie string begin with the name we want?
                                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                                }
                                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                    // Only send the token to relative URLs i.e. locally.
                                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                }
                            }
                        });// ajax
                }
            {% else %}
                alert('Please login to be able to download the file');
            {% endif %}
        });
            
            
            
            $('button.downloadAll').click(function() {
                {% if user.is_authenticated %}
                $.ajax({
                      url: "{% url 'cab.addDownloadFileAll' %}",
                      type: 'POST',
                      data: {
                          id: '{{item.id}}',
                      },
                      success: function(data){
                          window.open('/' + data.zip);
                      },
                      error: function(data) {
                          alert('ERROR!');
                      },            
                      // CSRF механизм защиты Django
                        beforeSend: function(xhr, settings) {
                        console.log('-------------before send--');
                          function getCookie(name) {
                              var cookieValue = null;
                              if (document.cookie && document.cookie != '') {
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++) {
                                    var cookie = jQuery.trim(cookies[i]);
                                    // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                        }
                        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                            // Only send the token to relative URLs i.e. locally.
                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                        }
                    }
                });// ajax
                {% else %}
                    alert('Please login');
                {% endif %}
            });
            
        var q = 0;
        {% for i in files %}
        q += {{i.dowloads}};
        {% endfor %}
        
        $('.allDownloadsFiles').html(q);
        
         $('.foto-list button.delete').click(function() {
            $.ajax({
                  url: "{% url 'staff:item_image_delete' %}",
                  type: 'POST',
                  data: {
                      number: $(this).attr('data-id'),
                      item: "{{item.id}}"
                  },
                  success: function(data){
                      //alert('Успех');
                      window.location.href = "{% url 'staff:item_view_only' item.id %}";
                  },
                  error: function(data) {
                      alert('ERROR!');
                  },            
                  // CSRF механизм защиты Django
                    beforeSend: function(xhr, settings) {
                    console.log('-------------before send--');
                      function getCookie(name) {
                          var cookieValue = null;
                          if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });// ajax
        });
        
        $('.files-list button.delete').click(function() {
            var _id = $(this).attr('data-id');
            $.ajax({
                  url: "{% url 'staff:item_file_delete' %}",
                  type: 'POST',
                  data: {
                      id: _id,
                      item: "{{item.id}}"
                  },
                  success: function(data){
                      //alert('Успех');
                      window.location.href = "{% url 'staff:item_view_only' item.id %}";
                  },
                  error: function(data) {
                      alert('ERROR!');
                  },            
                  // CSRF механизм защиты Django
                    beforeSend: function(xhr, settings) {
                    console.log('-------------before send--');
                      function getCookie(name) {
                          var cookieValue = null;
                          if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });// ajax
        });
        
        $('.like').click(function() {
            {% if user.is_authenticated %}
            $.ajax({
                  url: "{% url 'like' %}",
                  type: 'POST',
                  data: {
                      id: '{{item.id}}',
                  },
                  success: function(data){
                      //window.open('/' + data.zip);
                      if(data.result == true) {
                          if (Number($('.like span').text()) > 0)
                              $('.like span').html(
                                   Number($('.like span').text()) - 1
                                );
                      }
                      else
                            $('.like span').html(
                               Number($('.like span').text()) + 1
                            );
                  },
                  error: function(data) {
                      alert('ERROR!');
                  },            
                  // CSRF механизм защиты Django
                    beforeSend: function(xhr, settings) {
                    console.log('-------------before send--');
                      function getCookie(name) {
                          var cookieValue = null;
                          if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });// ajax
            {% else %}
                alert('Please login');
            {% endif %}
        });
        
        
    });
    
    
</script>

{% endblock %}