{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}



    
    
<div class="center">
	<div class="header">
		<h1>Название крутого сервиса</h1>
	</div>
	<form method="post" action="">
		{% csrf_token %}
	<div class="form">
		<h1>Регистрация</h1>
		<img src="{% static 'u4_line.png' %}"></img>
		<div style="height:50px;">
			<div class="inputText" style="margin: 15px 15px 0px;">Введите логин</div>
			<input id="id_username" class="input" maxlength="30" style="float:left; margin-top:10px;" name="username" type="text">
			<!--<input id="login" class="input" style="float:left; margin-top:10px;" type="text" value="login">-->
		</div>
		<div style="height:40px">
			<div class="inputText" style="margin:0px 15px;">Email</div>
			<input id="id_email" class="input" name="email" type="email">
		</div>
		<div>
			<div class="inputText" style="margin: 0px 15px;">Пароль</div>
			<!--<input id="passwd" class="input" style="float:left; margin-top:10px;" type="text" value="passwd">-->
			<input id="id_password1" class="input" style="float:left;" name="password1" type="password">
		</div>
		<div>
			<div class="inputText" style="margin: 15px !important;">Подтверждение</br>пароля</div>
			<!--<input id="passwd" class="input" style="float:left; margin-top:10px;" type="text" value="passwd">-->
			<input id="id_password2" class="input" style="float:left; margin-top:10px;" name="password2" type="password">
		</div>
		<img src="{% static 'u4_line.png' %}"></img>
      	<div id="u10" class="ax_html_button">
        	<!--<input id="loginSubmit" class="submit" style="margin-left:15px;" type="submit" value="ВОЙТИ"/>-->
        	<input class="submit" style="margin-left:15px;" type="submit" value="Регистрация" />
      	</div>
		<input class="hidden" style="display:none" type="text" value="" id="refer" name="refer"/>
		<a href="http://127.0.0.1:8000/login">Вход</a>
	</div>
</form>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/jquery.cookie.js' %}"></script>


<script>
$(document).ready(function() {
	var cook = $.cookie('refer');
	$('#refer').val(cook);
});
</script>
{% endblock %}
			

    
  <!--  <input type="hidden" name="next" value="{{ next }}" />-->





